<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<link rel="stylesheet" href="../static/css/core.css" />
		<link rel="stylesheet" href="../static/css/menu.css" />
		<link rel="stylesheet" href="../static/css/amazeui.css" />
		<link rel="stylesheet" href="../static/css/component.css" />
		<link rel="stylesheet" href="../static/css/page/form.css" />
        <link rel="icon" href="../static/img/wx_icon.jpg" type="image/x-icon" />
	</head>
	<body>
		<div class="account-pages">
			<div class="wrapper-page">
				<div class="text-center">
	                <a href="index.html" class="logo"><span>wechat<span>Bill</span></span></a>
	            </div>

	            <div class="m-t-40 card-box">

                    <div class="text-center">
                                <h4 class="text-uppercase font-bold m-b-0">账号: changhao  密码: changhao</h4>
                    </div>

	                <div class="panel-body">
	                	<form class="am-form" action="/login">

                            <div class="am-form-group ">
		                        	<button type="submit" class="am-btn am-btn-primary am-radius" style="width: 100%;height: 100%;">返回登录</button>
                            </div>

	                	</form>

	                </div>
	            </div>
			</div>
		</div>
	</body>
</html>
