{% extends "base.html" %}
{% block content %}

		<!-- Begin page -->
		<header class="am-topbar am-topbar-fixed-top">		
			<div class="am-topbar-left am-hide-sm-only">
                <a href="index.html" class="logo"><span>wechat<span>Bill</span></span><i class="zmdi zmdi-layers"></i></a>
            </div>
	
			<div class="contain">
				<ul class="am-nav am-navbar-nav am-navbar-left">

					<li><h4 class="page-title">微信账单</h4></li>
				</ul>
				
				<ul class="am-nav am-navbar-nav am-navbar-right">
					<li class="inform"><i class="am-icon-bell-o" aria-hidden="true"></i></li>
					<li class="hidden-xs am-hide-sm-only">
                        <form role="search" class="app-search">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href=""><img src="../static/img/search.png"></a>
                        </form>
                    </li>
				</ul>
			</div>
		</header>
		<!-- end page -->


    <script type="text/css">
        #aaa{ text-align: left}
    </script>

		<!-- Start right Content here -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="am-g">
					<!-- Row start -->
						<div class="am-u-sm-12">
							<div class="card-box">
								<ul class="am-nav am-fr">
								  <li class="am-dropdown" data-am-dropdown>

								  </li>
								</ul>
								
								<form action="/output" method="get" class="am-form" data-am-validator>
								  <fieldset>
								    <legend></legend>

                                      <!--content-->

                                      {{ content }}


								    <!--<button class="am-btn am-btn-secondary" type="submit" style="padding-right:30px">导出PDF账单</button>-->
								    <button class="am-btn am-btn-secondary" type="submit" style="float:right;">导出账单文件</button>

                                      <br />
                                    <legend></legend>
								  </fieldset>
								</form>
								
								
							</div>
						</div>
					<!-- Row end -->
				</div>
			
			</div>
		</div>



{% endblock %}