<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>	
		<link rel="stylesheet" href="../static/css/core.css" />
		<link rel="stylesheet" href="../static/css/menu.css" />
		<link rel="stylesheet" href="../static/css/amazeui.css" />
		<link rel="stylesheet" href="../static/css/component.css" />
		<link rel="stylesheet" href="../static/css/page/form.css" />
        <link rel="icon" href="../static/img/wx_icon.jpg" type="image/x-icon" />
	</head>
	<body>
		<div class="account-pages">
			<div class="wrapper-page">
				<div class="text-center">
	                <a href="/login" class="logo"><span>wechat<span>Bill</span></span></a>
	            </div>
	            
	            <div class="m-t-40 card-box">
	            	<div class="text-center">
	                    <h4 class="text-uppercase font-bold m-b-0">微信账单登录页面</h4>
	                </div>
	                <div class="panel-body">
	                	<form class="am-form" action="/login" method="post">
	                		<div class="am-g">
	                			<div class="am-form-group">
							      <input type="text" class="am-radius" name="username" placeholder="Username">
							    </div>
							
							    <div class="am-form-group form-horizontal m-t-20">
							      <input type="password" class="am-radius" name="password" placeholder="Password">
							    </div>
							    
							    <div class="am-form-group ">
		                           	<label style="font-weight: normal;color: #999;">
								        <input type="checkbox" class="remeber"> Remember me
								    </label>
		                        </div>
		                        
		                        <div class="am-form-group ">
		                        	<button type="submit" class="am-btn am-btn-primary am-radius" style="width: 100%;height: 100%;">登录</button>
		                        </div>
		                        
		                        <div class="am-form-group ">
		                        <a href="/forgot" class="text-muted"><i class="fa fa-lock m-r-5"></i> 点击获取账号密码 ..... </a>
		                        </div>


	                		</div>

	                	</form>
							
	                </div>
	            </div>
			</div>
		</div>
	</body>
</html>
