<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>后台模板</title>
		<link rel="stylesheet" href="../assets/css/amazeui.css" />
		<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
<link rel="stylesheet" href="../assets/css/core.css" />
		<link rel="stylesheet" href="../assets/css/menu.css" />
		<link rel="stylesheet" href="../assets/css/index.css" />
		<link rel="stylesheet" href="../assets/css/admin.css" />
		<link rel="stylesheet" href="../assets/css/page/typography.css" />
	</head>
	<body>
		<!-- Begin page -->
		<header class="am-topbar am-topbar-fixed-top">		
			<div class="am-topbar-left am-hide-sm-only">
                <a href="index.html" class="logo"><span>Admin<span>to</span></span><i class="zmdi zmdi-layers"></i></a>
            </div>
	
			<div class="contain">
				<ul class="am-nav am-navbar-nav am-navbar-left">

					<li><h4 class="page-title">排版</h4></li>
				</ul>
				
				<ul class="am-nav am-navbar-nav am-navbar-right">
					<li class="inform"><i class="fa fa-bell-o" aria-hidden="true"></i></li>
					<li class="hidden-xs am-hide-sm-only">
                        <form role="search" class="app-search">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href=""><img src="../assets/img/search.png"></a>
                        </form>
                    </li>
				</ul>
			</div>
		</header>
		<!-- end page -->
		
		
		<div class="admin">
			<div class="am-g">
		<!-- ========== Left Sidebar Start ========== -->
		<!--<div class="left side-menu am-hide-sm-only am-u-md-1 am-padding-0">
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 548px;">
				<div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 548px;">-->
                  <!-- sidebar start -->
				  <div class="admin-sidebar am-offcanvas am-u-md-1 am-padding-0" id="admin-offcanvas">
				    <div class="am-offcanvas-bar admin-offcanvas-bar">
				    	<!-- User -->
						<div class="user-box am-hide-sm-only">
	                        <div class="user-img">
	                            <img src="../assets/img/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
	                            <div class="user-status offline"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></div>
	                        </div>
	                        <h5><a href="#">Mat Helme</a> </h5>
	                        <ul class="list-inline">
	                            <li>
	                                <a href="#">
	                                    <i class="fa fa-cog" aria-hidden="true"></i>
	                                </a>
	                            </li>
	
	                            <li>
	                                <a href="#" class="text-custom">
	                                    <i class="fa fa-cog" aria-hidden="true"></i>
	                                </a>
	                            </li>
	                        </ul>
	                    </div>
	                    <!-- End User -->
	            
						 <ul class="am-list admin-sidebar-list">
						    <li><a href="../index.html"><span class="am-icon-home"></span> 首页</a></li>
						    <li><a href="typography.html"><span class="am-icon-home"></span> 排版</a></li>
						    <li class="admin-parent">
						      <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 页面模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
						      <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
						        <li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
						        <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
						        <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
						        <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a></li>
						        <li><a href="admin-404.html"><span class="am-icon-bug"></span> 404</a></li>
						      </ul>
						    </li>
						    <li><a href="admin-table.html"><span class="am-icon-table"></span> 表格</a></li>
						    <li><a href="admin-form.html"><span class="am-icon-pencil-square-o"></span> 表单</a></li>
						    <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
						  </ul>
				</div>
				  </div>
				  <!-- sidebar end -->
    
				<!--</div>
			</div>
		</div>-->
		<!-- ========== Left Sidebar end ========== -->
		
		
		
	<!--	<div class="am-g">-->
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<div class="content-page am-u-md-10  am-u-sm-12">
			<!-- Start content -->
			<div class="content">
				<div class="am-g">
					<!-- Row start -->
						<div class="am-u-sm-12">
							<div class="card-box">
								<ul class="am-nav am-fr">
								  <li class="am-dropdown" data-am-dropdown>
								    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
								       <span class="am-icon-caret-down"></span>
								    </a>
								    <ul class="am-dropdown-content">
								      <li>1231234</li>
								      <li>1231234</li>
								      <li>1231234</li>
								      <li>1231234</li>
								    </ul>
								  </li>
								</ul>
								
								<h4 class="header-title m-t-0 m-b-30">标题</h4>
								<h1>这是标题1</h1>
								<p class="text-muted">
									这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这题1这是标题1这是标题1这是标题1这是标题1这题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1
								</p>
								<div class="clearfix"></div>
								
								<h2>这是标题2</h2>
								<p class="text-muted">
									这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1
								</p>
								<div class="clearfix"></div>
								
								<h3>这是标题3</h3>
								<p class="text-muted">
									这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题是标题1这是标题1这是标题是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1
								</p>
								<div class="clearfix"></div>
								
								<h4>这是标题4</h4>
								<p class="text-muted">
									这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标是标题1这是标题1这是标题是标题1这是标题1这是标题题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1
								</p>
								<div class="clearfix"></div>
								
								<h5>这是标题5</h5>
								<p class="text-muted">
									这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标是标题1这是标题1这是标题是标题1这是标题1这是标题题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1
								</p>
								<div class="clearfix"></div>
								
								<h6>这是标题6</h6>
								<p class="text-muted">
									这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题是标题1这是标题1这是标题是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1这是标题1
								</p>
								<div class="clearfix"></div>
							</div>
						</div>
					<!-- Row end -->
				</div>
			</div>
		</div>
		<!-- end right Content here -->
		<!--</div>-->
		</div>
		</div>
		
		<!-- navbar -->
		<a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>
		
		<script type="text/javascript" src="../assets/js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="../assets/js/amazeui.min.js"></script>
		<script type="text/javascript" src="../assets/js/app.js" ></script>
		<script type="text/javascript" src="../assets/js/blockUI.js" ></script>
	</body>
	
</html>
