<!DOCTYPE html>
<html>
<head>
	<title>File Upload widget a Flat Responsive Widget Template :: w3layouts</title>
	<link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/wx_icon.jpg" type="image/x-icon" />

    <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="File Upload widget Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>

<body>
<h1>微信账单文件分析</h1>
<div class="agile-its">
	<h2>文件上传</h2>
	<div class="w3layouts">
	<p>账单上传后，后台程序将会分析您所提供的信息，最终以数据可视化的方式展示。 稍等片刻，数据说话! 由于账单信息比较敏感，我们分析完您数据后，在您注销用户时账单也随即删除。保障您的隐私安全，感谢信任! 谢谢!</p>
		<div class="photos-upload-view">
			<form id="upload" action="/uploadfile" method="POST" enctype="multipart/form-data">
				<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
					<div class="agileinfo">
					<input type="submit" class="choose" value="选择文件">
					<h3>OR</h3>
						<!-- <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" /> -->
						<input type="file" id="fileselect" name="file" multiple="multiple" />
						<div id="filedrag">拖拽账单CSV文件到这里</div>

					</div>

                <div id="messages">
                    <p>已添加文件</p>
                </div>
                <input type="submit"  value="提交">
            </form>
		</div>
		<div class="clearfix"></div>
		<script src="../static/js/filedrag.js"></script>


		</div>
</div>
<div class="footer">
	<!-- <p> © 2016 File Upload widget. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p> -->
</div>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>

</div>
</body>
</html>